geopandas==0.14.0
h3==3.7.7
folium==0.15.1
streamlit==1.32.0
streamlit-folium==0.18.0
branca==0.7.1
plotly==5.19.0
pandas==2.1.0
numpy==1.26.0
scipy==1.11.0
shapely==2.0.2
pyproj==3.6.1
requests==2.31.0
overpy==0.7
